* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

body {
  background-color: #14142b;
}

.container {
  width: 1200px;
  margin: 20px auto;
  padding: 0px 40px;
}

header > .container {
  display: flex;
  justify-content: space-between;
}

.container .nav {
  display: flex;
  flex-direction: row;
  margin-top: 2.5rem;
}

.container .nav li a {
  padding: 0 1rem;
  color: #4dffff;
}

.container .social-midia {
  display: flex;
  flex-direction: row;
  margin-top: 2.5rem;
}

.container .social-midia li {
  padding: 0 0.3rem;
}

.banner {
  display: flex;
  flex-direction: row;
  margin-top: 5rem;
}

.banner .text-banner {
  color: #4dffff;
  margin-top: 8rem;
  margin-right: 1rem;
}

.banner .text-banner p {
  margin-right: 15rem;
}

.banner .text-banner button {
  margin: 2rem;
  margin-top: 2rem;
  width: 288px;
  height: 44px;
  background-color: #ff2ab2;
  color: #fff;
  border-radius: 8px;
}

.banner .image-banner {
  width: 100%;
  height: 433px;
}
.banner .image-banner img {
  width: 18rem;
  object-fit: cover;
  margin-left: 7rem;
  margin-top: 2rem;
}

.container-sobre {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
}

.container-sobre h2 {
  color: #4dffff;
}

.container-sobre p {
  margin-top: 2rem;
  margin-right: 12rem;
  color: #4dffff;
  font-size: 18px;
}

.container-sobre .image-equipe img {
  margin-top: 2rem;
  width: 31rem;
  border-radius: 8px;
}
.time-softwarehouse {
  margin-top: 3.5rem;
}

.time-softwarehouse .cards {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}
.time-softwarehouse .cards .card {
  border: 5px solid #3bc9c9;
  background: rgba(59, 201, 201, 0.1);

  width: 300px;
  height: 400px;
  margin: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.time-softwarehouse .cards .card img {
  border-radius: 50%;
  border: 5px solid #3bc9c9;
  width: 160px;
  height: 160px;
  padding: 3.7px;
}

.time-softwarehouse .cards .card h3 {
  color: #3bc9c9;
  margin-top: 3.5rem;
}

.time-softwarehouse .cards .card span {
  color: #3bc9c9;
  margin: 0.5rem;
  margin-bottom: 1rem;
}

.time-softwarehouse .cards .card .social-midia-card ul {
  display: flex;
  flex-direction: row;
}
.time-softwarehouse .cards .card .social-midia-card ul li {
  align-items: stretch;
}

.time-softwarehouse .cards .card .social-midia-card ul li img {
  width: 2rem;
  height: 2rem;
  border: 0;
  border-radius: 0;
}

.time-softwarehouse .control {
  display: flex;
  margin: 2rem;
  justify-content: center;
  align-items: center;
}

.portfolio .cards {
  display: flex;
  justify-content: center;
  margin: 0 2rem;
}
.portfolio .cards .card {
  width: 400px;
  height: 400px;
  margin: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.portfolio .cards .card img {
  border: none;
  width: 100%;
}
.portfolio .cards .card .header {
  border: 4px solid #3bc9c9;
  background: rgba(59, 201, 201, 0.1);
}

.portfolio .button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.portfolio .button button {
  margin: 2rem;
  margin-top: 2rem;
  width: 288px;
  height: 44px;
  background-color: #ff2ab2;
  color: #fff;
  border-radius: 8px;
}

footer {
  margin-top: 1rem;
  display: flex;

  justify-content: space-between;
}
footer .logos {
  margin-top: 1.5rem;
}

footer .social-midia {
  justify-content: end;
  margin-bottom: 1rem;
}
footer p {
  padding-top: 0.5rem;
  color: #6f6c90;
  text-align: right;
}
